.venv/
.vscode/
.env
indices/
backup_indices/
.ipynb_checkpoints/
deprecated.py
*.log
__pycache__/
failed_indices_last_done_25_october_at_night/
not_good_indices/
10_indices/
frontend/search/*.js
frontend/search/src/**/*.js

.env*
static_old/
static_old_old/
static_dev/
static_prod/
README_files/